@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Barlow+Semi+Condensed:wght@400;500&display=swap');

section {
    padding-top: calc(3em + 79px);
    padding-bottom: calc(3em + 79px);
    text-align: center;
    &:nth-of-type(2n+3) {
        background: #dee2e6;
    }
    .section-title {
        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.5rem;
            span {
                &:last-of-type {
                    color: darken($primary, 10%);
                }
            }
        }
    }
}

// Fix slight white line between tooltop title & "arrow"
.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 1px !important; // unfortunate but necessary
}