section {
    padding-top: calc(3em + 79px);
    padding-bottom: calc(3em + 79px);
    text-align: center;
    &:nth-of-type(2n+3) {
        background: $gray-300;
    }
    .section-title {
        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: $h1-font-size;
            span {
                &:last-of-type {
                    color: $primary;
                }
            }
        }
    }
}